<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main class="container">
      <h2 class="page-title">Login</h2>
      <form method="POST" action="/validate">
        <div>
          <label for="login">Email or Phone Number</label>
          <input type="text" id="login" maxlength="40" name="login"/>
        </div>
        <div>
          <label for="pword">Password</label>
          <input type="password" id="pword" maxlength="40" name="pword"/>
        </div>
        <button type="submit">Login</button>
        <button type="button">
           <a href="/RegisterUser" class="reg-button">Register</a>
        </button>
      </form>
    </main>
    <script>
      document.querySelector('form').addEventListener('submit', (e) => {
        if(e.target.id == 'reg-button') {
          return
        }
        e.preventDefault();
        const loginInfo = new FormData(e.target);

        fetch('http://localhost:3000/validate', {
          method: 'POST',
          headers: { 'Content-Type': "application/json" },
          body: JSON.stringify({login: loginInfo.get('login'), passwd: loginInfo.get('pword')}),
          redirect: 'follow'
        })
          .then( response => {
            if(!response.ok) {
              throw new Error("Server Error");
            }

            const responseType = response.headers.get('Content-Type');
            if(response.redirected) {
              console.log(response.url)
              return response.url;
            } else if (responseType && responseType.includes('application/json')) {
              return response.json();
            } else {
              throw new Error("ERROR: Corrupted Data");
            }

          })
          .then(response => {

            if(typeof response === 'string') {
              window.location.href = response 
            } else {
              if(document.querySelector('#noti') == undefined) {
                noti = document.createElement('p')
                noti.innerText = "Password or Email is incorrect"
                noti.id = "noti";
                noti.style.color = 'red'
                document.querySelector('form').prepend(noti);
              }
            }
            
          })
          .catch(err => {
            console.log(err);
          })
      });
    </script>
  </body>
</html>
